@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background:
    radial-gradient(circle at top, rgba(255,255,255,0.03), transparent 40%),
    #0f1113;

  color: #e8e8e8;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}